# Copyright (c) 2026 tom96da
# SPDX-License-Identifier: MIT OR Apache-2.0

# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yaml,yml}]
indent_style = space
indent_size = 2

[*.md]
# Markdown uses a trailing double-space for a hard line break.
trim_trailing_whitespace = false
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4

[{Makefile,**.mk}]
# Use tabs for indentation (Makefiles require tabs)
indent_style = tab
