[submodule "third_party/zed"]
	path = third_party/zed
	url = https://github.com/zed-industries/zed.git
	shallow = true
[submodule "third_party/rquickjs"]
	path = third_party/rquickjs
	url = https://github.com/DelSkayn/rquickjs.git
	shallow = true
[submodule "third_party/vue"]
	path = third_party/vue
	url = https://github.com/vuejs/core.git
	shallow = true
[submodule "third_party/vite"]
	path = third_party/vite
	url = https://github.com/vitejs/vite.git
	shallow = true
